{% extends "page_base.html" %}
{% block eyebrow %}League Governance{% endblock %}
{% block sub %}<span class="meta-tag">Revised May 2023</span>{% endblock %}
{% block body %}
<p class="lead">The objective of this Code is to promote and ensure high standards of behavior in all interactions among JSSA members. While it defines unacceptable activities and resulting sanctions, it is meant to promote a pleasant environment for everyone to enjoy the game we love with the camaraderie of good friends.</p>

<h2>Unacceptable conduct</h2>
<p>The following activities are considered unacceptable and subject to disciplinary action:</p>
<ul>
  <li>Any language or gestures toward another JSSA member, umpire or spectator intended to harass, humiliate, threaten or cause embarrassment.</li>
  <li>Any statements that are bigoted, hateful, racially offensive or intended to intimidate.</li>
  <li>Any excessive use of language that is vulgar, obscene or profane.</li>
  <li>Any confrontation of a physical nature including, but not limited to, verbal threats, shoving, hitting, throwing at or using any object that could cause harm, and intentional collisions.</li>
  <li>Arguing with an umpire or another player. All on-field discussions regarding calls should be between umpires and team managers. All umpire calls are final.</li>
  <li>The use of an illegal bat.</li>
  <li>Any member participation while under the influence of alcohol or illegal controlled substances.</li>
  <li>Any conduct that could be considered unsportsmanlike or detrimental to the interest of the Association.</li>
  <li>Any verbal confrontation between members that is determined <em>not</em> to be “good-natured banter” which adds to the fun and enjoyment of the game.</li>
</ul>

<h2>Guidelines and actions</h2>
<ul>
  <li>These guidelines apply to all JSSA members.</li>
  <li>Enforcement of this code can result in disciplinary action ranging from verbal warnings to league expulsion as determined by the JSSA Board of Directors. JSSA Board members and authorized JSSA umpires may issue game ejections and verbal warnings.</li>
</ul>

<h2>The appeal process</h2>
<ul>
  <li>All appeal requests must be submitted in writing <strong>within 24 hours of the enforcement action notification</strong>. An appeal request does not stay an enforcement action. The request will be reviewed within a reasonable timeframe by the Executive Committee, which will uphold, modify or overturn the enforcement action.</li>
  <li>The decision of the Executive Committee is final.</li>
</ul>
{% endblock %}
