{% extends "page_base.html" %}
{% block eyebrow %}Our JSSA Brothers{% endblock %}
{% block sub %}<p class="sub">Remembering the members of our softball family who have passed. They are missed on the field and in the dugout.</p>{% endblock %}
{% block body %}
<div class="roll">
  <div class="name-card"><div class="nm">Ron Seely</div><div class="dt">September 2025</div></div>
  <div class="name-card"><div class="nm">Sheldon Notgarnie</div><div class="dt">December 2023</div></div>
  <div class="name-card"><div class="nm">Walter Sparks</div><div class="dt">May 2023</div></div>
  <div class="name-card"><div class="nm">Joe Lipinsky</div><div class="dt">February 2023</div></div>
  <div class="name-card"><div class="nm">Rick Hendee</div><div class="dt">May 2022</div></div>
  <div class="name-card"><div class="nm">Gerry Elias</div><div class="dt">February 2022</div></div>
  <div class="name-card"><div class="nm">George Farnworth</div><div class="dt">February 2022</div></div>
  <div class="name-card"><div class="nm">Dick Nucci</div><div class="dt">February 2021</div></div>
  <div class="name-card"><div class="nm">Mark Starr</div><div class="dt">February 2021</div></div>
  <div class="name-card"><div class="nm">James “JayRae” Rae</div><div class="dt">September 2020</div></div>
  <div class="name-card"><div class="nm">Jim “Gas Man” Gassman</div><div class="dt">June 2020</div></div>
  <div class="name-card"><div class="nm">Ted “Teddy” Battistone</div><div class="dt">April 2020</div></div>
  <div class="name-card"><div class="nm">Vinnie Lombardo</div><div class="dt">August 2019</div></div>
</div>
{% endblock %}
